h1 {
    font-style: italic;
    background-color: yellow;
    padding: 10px;
    margin: 20px 0px 10px 0px;
    text-align: center;
}

body {
    margin: 0px 40px 40px 40px;
}

.flex-container {
    display: flex;
    background-color: skyblue;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.recipe {
    flex: 1;
    text-align: center;
    background-color: lightcyan;
    margin: 0px 10px 0px 10px;
    padding: 20px;
}