h1 {
    font-style: italic;
    background-color: yellow;
    padding: 10px;
    margin: 20px 0px 10px 0px;
}

h3, h4 {
    margin: 0px;
}

h4 {
    text-decoration: underline;
}

img {
    width: 400px;
    height: auto;
    margin: 0px;
}

ul, ol, p {
    margin: 5px 0px 0px 0px;
}

body {
    margin: 0px 40px 40px 40px;
}

div {
    margin: 10px auto;
    background-color: lightblue;
    padding: 10px;
}